.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-page h1 {
    font-size: 24px;
    margin-bottom: 16px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}